.boxContainer {
    background-color: #0046AA;
    border-radius: 20px;
    width: 290px;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    align-items: center;
    color: white;
}
.box_icon {
    background-color: #19B9F5;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 35px;
}
.icon_calendar {
    width: 18px;
    height: 18px;
    margin: 10px;
}