.container {
    width: 200px;
    margin-top: 30px;
    flex-direction: column;
}
.img_1 {
    background-image: url(../../components/images/advertisement_1.png);
    width: 160px;
    height: 363px;
}
.img_2 {
    background-image: url(../../components/images/advertisement_2.png);
    width: 160px;
    height: 380px;
}